<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,700&display=swap" rel="stylesheet"> 
    <meta name="description" content="{{ description }}" />
    {%- for css in encore.app.css -%}
        <link rel="stylesheet" href="{{ css }}" type="text/css">
    {%- endfor -%}
    <title>{{ title }}</title>
<body>
{{ content | safe }}
{%- for js in encore.app.js -%}
    <script src="{{ js }}"></script>
{%- endfor -%}
</body>
</html>
