---
layout: layouts/base.njk
title: Project Moab
description: A Machine Teaching Hardware Kit for Autonomous Systems from Microsoft
tags:
- page
---
<div class="splash">
    <div class="bg"></div>
    <div class="headline-container">
        <div class="headline">
            <h1>PROJECT MOAB</h2>
            <div class="typewriter">2020-05-19<br />21:00 PT</div>
        </div>
    </div>
</div>
